@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
  padding: 3rem;
  background-color: hsl(212, 45%, 89%);
}

main {
  width: 30%;
  background-color: white;
  margin: 20px auto;
  border-radius: 20px;
  text-align: center;
}

.image,
.text {
  padding: 1rem;
}

img {
  width: 100%;
  border-radius: 20px;
}

h2 {
  margin: 0 0 10px 0;
  padding: 0 30px;
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  padding: 10px 40px;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
